.section-pricing {
    text-align: center;

    h3 {
        text-transform: uppercase;
    }

    h3 span {
        display: block;
        font-size: 0.75rem;
        line-height: 1rem;
        color: var(--primary-700);
        margin-bottom: 0.3rem;
    }

    .car-stats {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stat-label {
        font-size: 0.75rem;
        line-height: 1.5rem;
        color: var(--primary-700);
    }

    .stat-value {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
        letter-spacing: -0.025em;
    }

    @media (min-width: 640px) {
        .stat-label {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }
        .stat-value {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
    }

    @media (min-width: 1024px) {
        .stat-value {
            font-size: 3rem;
            line-height: 1;
        }
    }

    .separator {
        background-color: var(--gray-600);
        border-radius: 9999px;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: 0.25rem;
        height: 0.25rem;
        transform: translateY(0.75rem);
    }

    .msrp-group {
        display: flex;
        flex-direction: column;
    }

    .mpg-group {
        display: flex;
        align-items: center;

        .wrapper {
            display: flex;
            flex-direction: column;
        }

        .abbreviation {
            position: relative;
            font-size: 0.75rem;
            line-height: 1rem;
            color: var(--gray-600);
            margin-top: 1rem;
            margin-left: 1rem;
        }
    }

    .cta-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        position: relative;
        flex-direction: column;
    }

    .cta-button {
        background-color: var(--primary-100);
        color: var(--primary-900);
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600;
        display: inline-flex;
        padding: 0.625rem 1.25rem;
        border-radius: 9999px;
        transition: transform 0.3s ease, background-color 0.3s ease;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        text-decoration: none;
    }

    .cta-button:hover {
        color: var(--primary-950);
        background-color: var(--primary-400);
        transform: translateY(-0.25rem) translateX(0.25rem);
    }

    .review-stats {
        margin-top: 2rem;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }

    .review-stats .rating {
        color: var(--gray-950);
    }

    .review-stats .label {
        font-size: 0.5rem; 
        line-height: 1rem; 
        font-family: 'Zen Dots', serif;
        font-style: normal;
        color: var(--primary-700);
        
    }

    .pattern-plus-light-gray {
        height: 8rem;
        width: 5rem;
        position: absolute;
        z-index: -10;
    }

    @media (min-width: 640px) {
        .separator {
            margin-left: 2.5rem;
            margin-right: 2.5rem;
        }

        .cta-button {
            padding: 1rem 1.5rem;
            font-size: 1.1rem;
        }
    }

    @media (min-width: 1024px) {
        .stat-label {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .cta-wrapper {
            margin-top: 3rem;
        }

        .cta-button {
            padding: 1.3rem 1.8rem;
            font-size: 1.3rem;
        }
    }
}


